//MAIN


  nav.content-header {
    box-sizing: border-box;
    background: lighten(dodgerblue, 10%);
    //  min-height: 5em;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-content: flex-end;
    padding-left: 1.5rem;
    & > div {
      flex: 1 1 100%;
    }
    & > span {
      display: block;
      margin-top: 1.5rem;

      font-size: 1.2rem;
      font-family: Roboto, "sans-serif";
      font-weight: 300;
      flex: 1 1 100%;
      color: white;

    }
    & > ul {
      display: flex;
      list-style: none;
      align-items: center;
      flex: 1 1 100%;
      align-items: stretch;
      justify-content: flex-start;

      //background-color: dodgerblue;
      margin-bottom: 0;

      & > li {
        //background-color: lighten(dodgerblue,15%);
        position: relative;
        margin-left: 1.2rem;
        display: flex;
        padding: 1rem;
        //border: 2px solid transparent;
        transition: border-bottom-color 250ms ease;
        & > a {

          text-decoration: none;
          align-self: flex-end;
          font-size: .9rem;
          font-family: Roboto, "sans-serif";
          font-weight: 400;
          text-transform: uppercase;
          color: lighten(dodgerblue, 30%);
          & > span {
            display: inline-block;
            //background-color: crimson;
          }
          &:hover {
            color: lighten(dodgerblue, 35%);
          }
        }

        &:after {
          background-color: transparent;
          display: block;

          position: absolute;
          content: '';
          width: 0px;
          height: 4px;
          left: 0;
          right: 0;
          margin: auto;
          bottom: 0px;
          transition: background 500ms ease, width 500ms ease;

        }

        &:hover:after {
          box-shadow: -1px 1px 15px -1px dimgray;
          background: greenyellow;
          width: 100%;
          transition: background 500ms ease, width 500ms ease;
        }

      }

    }

  }
  div.content-area {

    padding: 0;
    flex: 1 1 100%;
    background: lighten(gainsboro, 5%);
    & > div {
      padding: 18px;
    }
  }


.blog-title{
  font-family: Roboto, "Helvetica Neue";
  color:dimgray;
  text-shadow: 3px 3px 12px rgba(150, 150, 150, 0.5);
  font-weight: 400;
  font-size: 1.8rem;
  margin: auto;
  width:90%;
  box-shadow: 0px 0px 30px -10px lightgray;
  background-color: transparent;
  margin: 3rem auto;
  text-align: center;

}

.blog-content{
  background-color:white;
  border:1px solid lightgray;
  line-height: 1.3rem;
  width:90%;
  margin:auto;
  box-shadow: 0px 0px 16px 2px lightgray;
}
