<nav class="top-nav">
  <div class="spacer"></div>
  <ul>
    <li><a [routerLink]="['./knowledgebase']" [queryParams]="{showSide: true}">Knowledge Base</a></li>
    <li><a [routerLink]="['./knowledgebase','recipes','search']">Knowledge Base search</a></li>
    <li><a href="#">text2</a></li>
    <li><a href="#">text2</a></li>
    <li><a href="#">Go to Docs</a></li>
    <li><a href="#"><span class="material-icons">more_vert</span></a></li>
    <li><a href="#"><span class="material-icons">person</span></a></li>
  </ul>
  <div class="spacer"></div>
</nav>

<router-outlet></router-outlet>
