<nav class="top-nav">
  <div class="spacer"></div>
  <ul>
    <li><a href="#">Knowledge Base</a></li>
    <li><a href="#">text2</a></li>
    <li><a href="#">text2</a></li>
    <li><a href="#">Go to Docs</a></li>
    <li><a href="#"><span class="material-icons">more_vert</span></a></li>
    <li><a href="#"><span class="material-icons">person</span></a></li>
  </ul>
  <div class="spacer"></div>
</nav>

hello
<div class="vertical-spacer" style="height: 3.1vh">88</div>
<div class="main-container">


  <div class="left-side">


    <div class="left-side-header">
      <div>
        <span class="material-icons">business_center</span>
        <span>Overview</span>
      </div>
      <div>
        <span class="material-icons">settings</span>
      </div>

    </div>

    <div class="vertical-spacer" style="height: 6.1vh"></div>
    <nav class="left-side-nav">

      <div class="separator">
        <span>Blog</span>
      </div>

      <ul class="sidebarMenu">
        <li><a href=""><span class="material-icons">business_center</span></a> <span> Recipes</span></li>
        <li><a href=""><span class="material-icons">airport_shuttle</span></a> <span> Drils</span></li>
        <li><a href=""><span class="material-icons">all_inclusive</span></a> <span> Snippets</span></li>
        <li><a href=""><span class="material-icons">free_breakfast</span></a> <span> Links</span></li>

      </ul>
    </nav>

    <div class="vertical-spacer" style="height: 2.1vh"></div>
    <nav class="left-side-nav">

      <div class="separator">
        <span>organisation</span>
      </div>


      <ul class="sidebarMenu">
        <li><a href=""><span class="material-icons">event_note</span></a> <span> Recipes</span></li>
        <li><a href=""><span class="material-icons">personal_video</span></a> <span> Drils</span></li>
        <li><a href=""><span class="material-icons">business_center</span></a> <span> Snippets</span></li>
        <li><a href=""><span class="material-icons">sd_card</span></a> <span> Links</span></li>

      </ul>
    </nav>

    <div class="left-side-footer">
      <div class="collapse-sidebar">
        <span class="material-icons">chevron_left</span></div>
    </div>
  </div>


  <div class="content-area">


    <nav class="content-header">
      <span>Realtime Database</span>

      <ul>
        <li><a href="">
          <span>Search</span>
        </a>
        </li>
        <li><a href="">
          <span>Read</span>
        </a>
        </li>
        <li><a href="">
          <span>Edit</span>
        </a>
        </li>
      </ul>
    </nav>



   <div class="blog-title">How to make an indoor swimming pool</div>
   <div class="blog-content">
     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur aut ducimus eos eum laudantium
       numquam ratione veniam. At consectetur corporis doloremque ducimus eius ipsum itaque repellat sit veritatis
       voluptatem?
     </div>
     <div>Ea eligendi esse expedita magni similique? Atque dolore doloribus id vero. Deserunt dolorum eius laudantium
       modi ratione. Aut autem beatae commodi facilis ipsa iure iusto nostrum officia? Delectus quos, voluptate!
     </div>
     <div>Debitis dicta dolore ex hic molestiae nulla quaerat ratione reprehenderit similique veritatis. Atque culpa
       dignissimos mollitia temporibus! Aliquid doloremque exercitationem fuga illum laboriosam, quos repellat temporibus
       veniam vero voluptatum. Eligendi?
     </div>
     <div>Alias aliquam aliquid amet blanditiis cum debitis delectus doloribus eligendi, eum exercitationem facilis harum
       inventore itaque laborum maxime necessitatibus nihil non numquam odit omnis provident quos sed, tempora ullam
       voluptatibus!
     </div>
     <div style="height: 10vh"></div>
     <div>
       <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deserunt error esse explicabo id ipsum,
         laudantium modi, molestiae neque recusandae, sed suscipit voluptatem! Adipisci ea eveniet, labore nemo officia
         voluptatem.
       </div>
       <div>Aliquam aliquid aspernatur, assumenda beatae cumque eaque error est expedita fuga hic illo in maiores minima
         nisi obcaecati officia officiis porro praesentium qui quia quis quod ratione suscipit tempore ut.
       </div>
       <div>Ad aspernatur corporis, dolorum exercitationem iusto labore maxime nisi non optio, quia reiciendis velit
         vitae voluptatem. Ab dolores, ex exercitationem facere illum itaque necessitatibus non, quaerat qui repellat
         sint unde?
       </div>
       <div>Eaque harum molestias natus neque nihil quaerat quasi, voluptas? Aliquid consectetur consequuntur dolore,
         dolores fugiat fugit impedit iste laudantium magnam natus officia quae saepe sequi sint voluptate. Excepturi,
         nisi, nobis.
       </div>
       <div>Accusantium adipisci animi architecto atque autem blanditiis cupiditate delectus dicta dolore doloremque
         eaque earum eligendi hic in incidunt minima odit omnis optio quas quasi quidem quo recusandae sapiente, sequi
         ut.
       </div>
     </div>
     <div style="height: 20vh"></div>
     <div>
       <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum enim explicabo ipsa iusto, quas repellat.
         Aliquid consequatur cum deserunt doloremque error illo laboriosam minus necessitatibus, obcaecati reprehenderit
         vero voluptatum.
       </div>
       <div>Accusantium aut consequatur culpa, cumque ducimus earum eveniet id in incidunt, ipsam iure nobis possimus
         quae recusandae veniam voluptas voluptatibus? Cupiditate earum facere ipsum nemo possimus praesentium sit
         tempore ullam!
       </div>
       <div>Accusantium deserunt dolorem libero minima rerum unde vel velit. Aperiam beatae delectus, exercitationem,
         explicabo facilis fugiat hic modi necessitatibus neque non perspiciatis, quidem reiciendis rem sapiente sequi
         sint voluptate voluptatum.
       </div>
       <div>Accusamus amet animi, corporis cupiditate fuga ipsum magni modi necessitatibus, quae sequi, ut voluptatem
         voluptatum? Adipisci culpa cumque doloremque id molestiae placeat possimus repellendus sequi unde velit. Cumque
         nisi, voluptatum!
       </div>
       <div>Accusantium assumenda aut commodi harum minima nesciunt qui repudiandae ut. Aliquid amet itaque quasi soluta
         totam? Accusantium adipisci cumque delectus eos ipsum iure, neque perspiciatis porro, repudiandae sapiente sed,
         velit!
       </div>
     </div>
     <div style="height: 20vh"></div>
     <div>
       <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis dicta distinctio dolor eius expedita
         explicabo facilis harum incidunt inventore ipsa iste nulla odit quam, quisquam totam veritatis voluptate
         voluptatem!
       </div>
       <div>Amet animi architecto aspernatur, beatae eligendi eos expedita facere iste labore laudantium, molestias nemo
         non nostrum obcaecati quae quas quidem quo repellat sapiente sint temporibus totam voluptatem. Laboriosam,
         minus, veritatis.
       </div>
       <div>Aperiam architecto asperiores aspernatur, assumenda commodi dolore doloremque error esse fugiat fugit in
         incidunt ipsa iste laboriosam libero maiores maxime molestiae natus nemo nesciunt nisi nobis non velit vitae
         voluptatum!
       </div>
       <div>Alias architecto cum enim iste provident repellat repellendus sit. Accusamus adipisci aspernatur dicta eaque
         labore necessitatibus odio saepe vitae. Ab architecto, iste labore libero officia qui totam? Iste, nostrum,
         officiis!
       </div>
       <div>Atque dolor dolorum ipsa ipsum magni, nesciunt pariatur perspiciatis rerum soluta tempore! Ad aperiam cumque
         deleniti doloremque est excepturi, fugit itaque maxime minima nemo nostrum quasi quidem quisquam rem voluptates.
       </div>
       <div>Adipisci assumenda aut earum esse fugit illum iusto magni, minus modi non numquam officiis, provident quae
         quisquam ratione repudiandae vel! Dolorum ex exercitationem illo praesentium, quidem quod rem sed? Vitae!
       </div>
       <div>Ducimus impedit libero nesciunt nobis, officia quisquam rem sed. Accusantium atque beatae consequuntur
         corporis deleniti deserunt ea eius iusto libero modi, necessitatibus perferendis, possimus quaerat quod sequi
         totam unde vel?
       </div>
       <div>Accusantium aperiam architecto at commodi consequatur culpa cum enim, esse et expedita fugiat id ipsum itaque
         necessitatibus nobis odio quidem quisquam quod ratione sapiente suscipit tenetur vero vitae voluptate
         voluptatem!
       </div>
       <div>Animi commodi cupiditate doloremque eligendi exercitationem facere harum hic impedit laboriosam, non numquam
         quisquam, repellendus reprehenderit sint sit suscipit veniam? Accusantium architecto blanditiis consectetur illo
         nostrum, quidem unde. Cupiditate, eos.
       </div>
       <div>A aliquam corporis cumque, delectus deleniti deserunt earum, fugiat illo ipsa iste laudantium necessitatibus
         nostrum numquam odit quam reiciendis saepe! Beatae dolorem quam totam veritatis. Aliquid commodi fugit minus
         quasi?
       </div>
     </div>


   </div>



  </div>
</div>
