@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@mixin reg-fonts($type:'regular') {
  @if ($type :'regular') {
    font-size: 1em;
  } @else {
    font-size: 1.4rem;
  }
  font-family: Roboto, "sans-serif";
  font-weight: 300;
  color: snow;
}

body {
  margin: 0;
  padding: 0;
  //display: flex;
}

// TOP NAV
.top-nav {
  .spacer {
    flex: 1 1 30px;
  }
  @include reg-fonts;

  display: flex;
  margin-right: 20px;
  postion: fixed;
  padding: 0.2em;
  top: 0;
  left: 0;
  flex: 1 1 100%;
  width: 100%;
  background: darken(dodgerblue, 3%);
  z-index: 10;
  position: fixed;
  box-shadow: 4px 4px 15px -4px dimgrey;
  border-bottom: solid 1px dimgray;
  justify-content: center;
  align-items: center;

  & > ul {

    padding: 0;
    display: flex;
    flex: 1 1 100%;
    list-style: none;
    box-sizing: border-box;

    & > li {
      display: flex;
      //background-color: orangered;
      text-decoration: none;
      margin-left: 1rem;

      & > a {
        //border:1px solid crimson;
        @include reg-fonts;
        color: darken(whitesmoke, 5%);

        &:hover {
          color: darken(whitesmoke, 15%);
        }
      }
    }

    & > li:nth-last-child(3) {

      //background-color: orangered;
      margin-left: auto;
    }
    & > li:last-child {

      position: relative;
      background-color: lightblue;
      padding: .25rem;
      border-radius: 55%;
      bottom: .45rem;
      & > a {
        color: dodgerblue;
      }

    }
  }

}








.focusa{}:focus{color:greenyellow}
